header 
    .container{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
    .hero{
        align-items: flex-end;
        background-image: url('../assets/images/san-layout-responsivo.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        height: 40rem;
        display: flex;
        padding-bottom: 3rem;
        width: 100%;

        h1{
            text-align: center;
            width: 100%;
        }

    }
}