
.nav{
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
    &__item{
        color:$font-color-primary;
        font-size: $font-size-nav;
        text-decoration: none;
        &:hover{
            color: orangered;


        }
    }
}